<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Scheduler Login</title>
</head>

<body>
    <div class="description">
        <h1>SCHEDULER</h1>
    <img class="logo" src="logo.png" alt="Logo">

    <div class="description">
        <h3>SCHEDULER IS A SIMPLE APP FOR CREATING CLASS SCHEDULES.</h3>
        <h4> 1. SET UP SCHEDULE WITH DATE, COURSE, LOCATION, AND INSTRUCTOR </h4>
        <h4> 2. EDIT AND DELETE COURSES EASILY</h4>
        <h4> 3. EMAIL SCHEDULE TO ANYONE</h4>


    <!--EMAIL INPUT-->
    <form action="/login" method="post">
        <div class="signup">
            <h1>Login</h1>
            <label for="user-email">Email</label>
            <input type="email" placeholder=" " name="email" id="user-email" required/>

            <!--PASSWORD INPUT-->
            <label for="user-password">Password</label>
            <input placeholder=" " label="false" type="password" name="password" id="user-password" required/>

            <!--SIGN IN BUTTON-->
            <div class ="buttons">
            <button type="submit" class="button">Log In</button>
            <div class ="signupButton"> <a href="/signup.html"><h3>Signup</h3></a></div>
            <h4> DEMO admin@gmail.com Password: admin</h4>
            </div>
        </div>
    </form>

    <script>
        if (document.location.search == '?fail') {
            alert("Incorrect Email or Password")
        }
</script>

</body>

</html>