<!DOCTYPE html>
<html lang="en">

<head>
  <title>Course Schedule</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="profile.css">
  <link rel="stylesheet" href="jquery.datetimepicker.css">
</head>

<body>

  <div class="menu">
    <div class="container">
      <div class="navbar-header">
        <img class="logo" src="logo.png" alt="Logo">
      </div>
        <ul class="navbar-right">
          <li><a href="login.html"><span class="glyphicon glyphicon-log-out"></span> Log Out </a></li>
        </ul>
      </div>
    </div>


  <div class="container">

        <h2>Add Course</h2>
    <label>
           <div> Date/Time     </div>
            <input id="datetimepicker" type="text" value="">
    </label>
    <label>
           <div> Course </div>
            <select id="course">
      <option value="Algebra" > Algebra </option>
      <option value="English 1A"> English 1A </option>
      <option value="English 2A"> English 2A </option>
      <option value="History"> History </option>
      <option value="Social Science"> Social Science </option>
           </select>
          </label>
          <label>  
         
           <div> Campus  </div><select id="location">
    <option value="Auburn"> Auburn </option>
    <option value="Folsom"> Folsom </option>
    <option value="Roseville"> Roseville </option>
    <option value="Sacramento"> Sacramento </option>
    <option value="West Sacramento"> West Sacramento </option>
    </select>
  </label>
  <label>  
 
           <div> Instructor </div>
            <select id="courseDirector">
    <option value="Mustaine"> Mustaine </option>
    <option value="Hendrix"> Hendrix </option>
    <option value="Ulrich"> Ulrich </option>
    <option value="Hammett"> Hammett </option>
    <option value="Hetfield"> Hetfield </option>
    </select>
  </label>
 
          <input type="hidden" value="<%=user.local.email%>" id="loggedInAs">
          <div>
          <input id="submit_form" type="submit" value="Submit">
          </div>
       
      </div>
   
      <br><br>
  <div class="container">
 
        <div class="calendar-header">
          <div class="date">Date </div>
          <div class="course">Course</div>
          <div class="location">Location</div>
          <div class="instructor">Instructor</div>
          <div class="editable">Delete / Edit</div>
          <hr>
        </div>

        <div class="calendar">
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
    </div>
  </footer>



  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="jquery.datetimepicker.js"></script>
  <script>
    $(document).ready(function () {
      $('#submit_form').click(function () {
        var data = {};
        data.date = $('#datetimepicker').val();
        data.course = $('#course').val();
        data.location = $('#location').val();
        data.courseDirector = $('#courseDirector').val();
        data.assist1 = $('#assist1').val();
        data.assist2 = $('#assist2').val();
        data.assist3 = $('#assist3').val();
        data.user = $('#loggedInAs').val();
        console.log(data);
        $.ajax({
          type: 'post',
          data: JSON.stringify(data),
          contentType: 'application/json',
          url: '/course'
        })
        getCourses();
      }) //END OF SUBMITFORM CLICK


      function getCourses() {
        $.getJSON('/course', function (docs) {
          $('.calendar').html('');
          $.each(docs, function (key, value) {
            var location = value.location;
            var course = value.course;
            var courseDirector = value.courseDirector;
            var date = value.date;
            var user = value.user;
            if (user === $('#loggedInAs').val()) {
              var editable =
                '<span role="button" class="del"><span class="glyphicon glyphicon-trash"></span></span> <span class="tab-space"></span><span role="button" class="update"><span class="glyphicon glyphicon-pencil"></span></span>'
            } else {
              var editable = 'No Access'
            }

            $('footer').html(
              '<span role="button" class="email"><span class="glyphicon glyphicon-envelope"></span></span>'
            );

            $('.email').click(function () {
              var schedule = $('.calendar').html();
              $('.calendar div').each(function () {

              })
              var data = {
                message: schedule
              }
              $.ajax({
                type: 'post',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: '/sendmail/'
              })
            })

            $('.calendar').prepend('<div id="' + value._id + '"><div class="date"> <span></span>' + date +
              '</div> <div class="course"><span></span>' + course +
              '</div>' +
              '<div class="location"><span></span>' + location + '</div>' +

              '<div class="instructor"><span></span>' + courseDirector + '</div>' +
              '<div class="editable"><span></span>' + editable + '</div><br />'
            );
          }) //END OF EACH

          $('.del').click(function () {
            var idToDelete = $(this).parent('div').parent('div').attr('id')
            console.log(idToDelete);
            $.ajax({
              type: 'delete',
              url: '/course/' + idToDelete
            })
            getCourses();
          }) //END CLICK DELETE FUNCTION

          $('.update').click(function () {
            $(this).hide()
            $(this).siblings(".del").hide()
            $(this).parent("div").append('<button class="save"> Save </button>')

            var date = $(this).parent("div").siblings(".date").text();
            $(this).parent("div").siblings(".date").html(
              '<input type = "text" class = "updatedDate" value = ' + date +
              '>')

            var course = $(this).parent("div").siblings(".course").text();
            $(this).parent("div").siblings(".course").html(
              '<input type = "text" class = "updatedCourse" value = ' +
              course +
              '>')

            var location = $(this).parent("div").siblings(".location").text();
            $(this).parent("div").siblings(".location").html(
              '<input type = "text" class = "updatedLocation" value = ' +
              location +
              '>')

            var instructor = $(this).parent("div").siblings(".instructor").text();
            $(this).parent("div").siblings(".instructor").html(
              '<input type = "text" class = "updatedInstructor" value = ' +
              instructor +
              '>')

            $('.save').click(function () {
              var idToUpdate = $(this).parent('div').parent('div').attr('id')
              console.log(idToUpdate);

              var data = {};
              data.date = $(this).parent('div').siblings('.date').children('.updatedDate').val();
              data.course = $(this).parent('div').siblings('.course').children('.updatedCourse').val();
              data.location = $(this).parent('div').siblings('.location').children('.updatedLocation').val();
              data.courseDirector = $(this).parent('div').siblings('.instructor').children(
                '.updatedInstructor').val();
              data.user = $('#loggedInAs').val();
              data.id = idToUpdate;

              $.ajax({
                type: 'put',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: '/course/'
              })
              getCourses();
            }) //END OF SUBMITFORMCLICK
          }) // End UPDATE CLICK
        }) //END OF GETJSON
      } //END GETCOURSES FUNCTION

      getCourses();
      $('#datetimepicker').datetimepicker({}); //END DATETIMEPICKER
    })
  </script>

</body>

</html>