body {
    background: #9EAEB3
}

span.tab-space {padding-left:5%;

}


.menu {
    box-shadow: 0 8px 6px -6px #999;
    background: white
}

.logo {
    display: block;
    height: 25px;
    width: auto;
    margin: 10px auto;
}

.container-main {
    background: #9EAEB3
}

.right {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}

.row
{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}
.column
{
    display: table-cell;
    background-color: red;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
    color: red;

}

.calendar {
    overflow: scroll;
    height: 700px;
}

.date,
.location,
.course,
.instructor,
.editable {
    display: inline-block;
    width: 19%;
    text-align: left;
    font-weight: bold;

}